.header {
    background-color: var(--colorLight);
    max-width: 100%;

    .header-container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .header-logo {
            width: 25%;
            margin: auto;

            img {
                width: 100px;
                height: 75px;
            }
        }

        .search {
            width: 50%;
            margin: auto;
            display: flex;

            .search-input {
                width: 80%;
                margin: auto;
                display: flex;
                padding: 9px;
                border-radius: 5px;
                background-color: var(--colorWhite);

                input {
                    width: 90%;
                    margin: auto 5px;
                    padding: 5px;
                    border: none;
                    outline: none;
                }

                span {
                    font-size: 20px;
                    margin: auto 5px;
                    padding: 5px;
                    color: #aaa;
                }
            }

            .search-btn {
                width: 15%;
                background-color: var(--colorGreen);
                border: none;
                outline: none;
                color: var(--colorWhite);
                font-size: 15px;
                font-weight: 500;
                border-radius: 5px;

            }
        }

        .timer {
            width: 25%;
            padding: 10px;
            font-size: 13px;
            font-weight: 500;
            margin: auto;
            text-align: center;
        }

    }
    .header-bottom{
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        color: var(--colorWhite);
        background-color: var(--colorGreen);
        .btm-left{
            display: flex;
            list-style-type: none;
            padding: 10px;
            li{
                cursor: pointer;
                padding: 0px 25px;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .btm-right{
           .User_Details{
               display: flex;
               list-style-type: none;
               p{
                padding: 10px 25px;
                font-size: 14px;
                font-weight: 500;
               }
               li{
                background-color: #075500;
                padding: 10px 25px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                a{
                    color: white;
                    text-decoration: none;
                }
               }
               li:nth-child(1){                   
                border-right: solid 0.3px var(--colorLight);
               }
           }

        }
    }
}